@inherits BaseComponent

@if (UserContext.IsAuthenticated)
{
    <MudText Class="mr-2">@UserContext.UserName</MudText>

    <MudMenu Icon="@Icons.Material.Filled.MoreVert"
             Color="Color.Inherit"
             AnchorOrigin="Origin.BottomRight"
             TransformOrigin="Origin.TopRight">

        <MudMenuItem OnClick="OpenChangePasswordDialog">
            <span class="d-flex align-center">
                <MudIcon Icon="@Icons.Material.Filled.VpnKey" Class="mr-2" />
                Змінити пароль
            </span>
        </MudMenuItem>

        <MudMenuItem OnClick="Logout">
            <span class="d-flex align-center">
                <MudIcon Icon="@Icons.Material.Filled.Logout" Class="mr-2" />
                Вийти з системи
            </span>
        </MudMenuItem>

    </MudMenu>
}

@code {
    private async Task OpenChangePasswordDialog()
    {
        var parameters = new DialogParameters<ChangePasswordDialog>
        {
            { x => x.UserId, UserContext.UserId }
        };

        await DialogService.ShowAsync<ChangePasswordDialog>(null, parameters);
    }

    private void Logout()
    {
        NavManager.NavigateTo("/auth/logout", forceLoad: true);
    }
}
