@page "/auth/login"
@inherits BaseComponent

@using Microsoft.AspNetCore.Authentication
@using SimRegisPortal.Application.Features.Users.Commands
@using SimRegisPortal.Application.Models.Auth

@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<PageTitle>Log in</PageTitle>

<MudPaper Class="pa-6 mx-auto mt-10" MaxWidth="400px" Elevation="3">
    <MudText Typo="Typo.h3" GutterBottom="true">Log in</MudText>

    <form method="post" action="api/auth/login">
        <MudTextField @bind-Value="Model.Login"
                      Name="Login"
                      Label="Login or Email"
                      Required="true"
                      FullWidth="true"
                      Class="mt-4" />

        <MudTextField @bind-Value="Model.Password"
                      Name="Password"
                      Label="Password"
                      InputType="InputType.Password"
                      Required="true"
                      FullWidth="true"
                      Class="mt-4" />

        <MudButton ButtonType="ButtonType.Submit"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   FullWidth="true"
                   Class="mt-4">
            Login
        </MudButton>
    </form>
</MudPaper>

@code {
    private LoginRequest Model = new();
}
